.advantages-item__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;

  @include text-parametr(18px, 21px, 700);

  &::after {
    counter-increment: list;
    content: "— №" counter(list) " —";
    display: block;
    margin-top: 11px;

    @include text-parametr();
  }

  @include min(768) {
    @include text-parametr(21px, 25px, 700);
    padding: 0 24px;
    margin-bottom: 22px;
  }

  @include min(1200) {
    padding: 0 80px;
  }
}

.advantages-item__text {
  margin: 0;
  line-height: 22px;
}

.advantages-item__image-wrapper {
  margin-top: 39px;
  height: 260px;

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  @include min(768) {
    width: 66.67%;
    height: auto;
    margin: 0;
  }
}

.advantages-item__content {
  padding: 0 12px;

  @include min(768) {
    padding: 40px 32px 43px;
    width: 33.33%;
  }

  @include min(1200) {
    padding: 47px 52px 54px;
    max-width: 400px;
  }
}

.advantages-item {
  position: relative;
  padding: 26px 20px 25px;
  background-color: $lightgray;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    width: auto;
    background-color: $gray-2;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  @include min(768) {
    padding: 42px 33px 40px;

    &::after {
      display: none;
    }
  }

  @include min(1200) {
    padding: 43px 42px 61px;
  }

  &--city,
  &--bridge {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $lightblue;
    color: $white;

    &::after {
      display: none;
    }

    @include min(768) {
      width: 100%;
      justify-content: space-between;

      .advantages-item__content {
        padding-left: 27px;
        padding-right: 27px;
      }
    }
  }

  &--city {
    padding-top: 15px;

    .advantages-item__content {
      padding-top: 58px;
    }

    @include min(768) {
      padding-top: 0;
      flex-direction: row;

      .advantages-item__content {
        padding-top: 41px;
      }
    }

    @include min(1200) {
      .advantages-item__content {
        padding-top: 48px;
      }
    }
  }

  &--bridge {
    .advantages-item__content {
      padding-top: 40px;
    }

    .advantages-item__image-wrapper {
      margin-top: 36px;
    }

    @include min(768) {
      flex-direction: row-reverse;

      .advantages-item__content {
        padding: 43px 36px 41px;
      }

      .advantages-item__image-wrapper {
        margin-top: 0;
      }
    }

    @include min(1200) {
      .advantages-item__title {
        padding: 0 36px;
      }

      .advantages-item__content {
        padding: 53px 78px 50px;
      }
    }
  }
}
