.br {
  &--mobile {
    display: block;

    @include min($tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include min($desktop) {
      display: block;
    }
  }

  &--tablet {
    display: none;

    @include min($tablet) {
      display: block;
    }

    @include min($desktop) {
      display: none;
    }
  }

  &--tablet-desktop {
    display: none;

    @include min($tablet) {
      display: block;
    }
  }
}
