.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
  padding: 17px 47px 15px;
  font-family: $font;

  @include text-parametr(21px, 26px, 700);
  background-color: $lightblue;
  color: $white;
  border: none;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $blue;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $blue-2;
  }

  @include min(768) {
    padding: 17px 136px 15px;
  }

  @include min(1200) {
    padding: 17px 137px 15px;
  }
}
