.button {
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
  max-width: 100%;
  padding: 17px 47px 19px;
  font-family: $font;

  @include text-parametr(21px, 22px, 700);
  background-color: $lightblue-color;
  color: $white;
  border: none;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $blue-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $blue-active;
  }

  @include min($tablet) {
    min-width: 458px;
  }

  &--disabled {
    background-color: $gray;

    &:hover,
    &:active {
      background-color: $gray;
    }
  }

  &--form {
    min-width: 280px;
    padding: 20px 47px 16px;

    @include min($tablet) {
      min-width: 324px;
      padding-right: 56px;
    }

    @include min($desktop) {
      min-width: 480px;
      padding-right: 47px;
    }
  }
}
