.checkbox {
  display: block;
  width: 100%;
  min-width: 200px;
  text-align: left;

  @include min(768) {
    width: 50%;
  }

  @include min(1200) {
    width: auto;
  }
}

.checkbox__label {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  min-height: 55px;
  min-width: 200px;
  padding-left: 80px;
  padding-top: 14px;

  @include text-parametr(18px, 26px, 700);
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 51px;
    height: 51px;
    border-radius: 2px;
    background-color: $light;
  }

  &::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 16px;
    background: url("../img/tick.svg") 0 0 no-repeat;
    opacity: 0;
  }

  &:hover {
    &::before {
      background-color: $gray;
    }
  }
}

.checkbox__input {
  &:checked + span {
    &::after {
      opacity: 1;
    }
  }
}
