.developing {
  display: inline-flex;
  align-items: center;

  svg {
    margin-top: 5px;
    fill: $black;
  }

  &:hover {
    svg {
      fill: $lightblue;
    }
  }

  &:active {
    svg {
      fill: $gray;
    }
  }
}

.developing__text {
  @include text-parametr(14px, 40px, 400);
  margin-right: 12px;
}
