.developing {
  display: inline-flex;
  align-items: center;

  svg {
    display: block;
    margin-top: 0;
    fill: $black;
  }

  &:hover {
    svg {
      fill: $lightblue-color;
    }
  }

  &:active {
    svg {
      fill: $gray;
    }
  }
}

.developing__text {
  @include text-parametr(14px, 40px, 400);
  margin-right: 12px;
}

.developing__link {
  display: block;
}
