.developing {
  display: inline-flex;

  svg {
    fill: $black;
  }

  &:hover {
    svg {
      fill: $lightblue;
    }
  }

  &:active {
    svg {
      fill: $gray;
    }
  }
}

.developing__text {
  @include text-parametr(14px, 35px, 400);
  margin-right: 12px;
}
