.feedback__legend {
  padding-top: 20px;
  text-align: center;

  @include text-parametr(18px, 26px, 700);

  @include min(768) {
    @include text-parametr(21px, 26px, 700);
  }
}

.feedback__form {
  padding-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;

  @include min(768) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include min(1200) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback__note {
  display: none;
  order: 6;

  @include min(768) {
    display: block;
  }
}

.feedback__submit {
  margin-left: auto;
  margin-right: auto;
  order: 5;

  @include min(768) {
    margin-left: 0;
  }
}

.feedback__item {
  padding-top: 20px;
  padding-bottom: 25px;

  &--name {
    .feedback__field {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @include min(768) {
      width: 50%;
      order: 1;
      padding-left: 58px;

      .feedback__legend {
        text-align: left;
        margin-bottom: 36px;
      }
    }
  }

  &--contacts {
    .feedback__field {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    @include min(768) {
      width: 100%;
      order: 2;

      .feedback__field {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }

    @include min(1200) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .feedback__field:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &--impression {
    .feedback__field {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    @include min(768) {
      width: 50%;
      order: 0;
      border-right: 1px solid #dbdbdb;

      .feedback__field {
        &:not(:last-child) {
          margin-bottom: 22px;
        }
      }

      .feedback__legend {
        text-align: left;
        margin-bottom: 36px;
      }
    }
  }

  &--visited {
    .feedback__field {
      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }

    @include min(768) {
      width: 100%;
      order: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .feedback__field {
        &:nth-child(even) {
          margin-right: 40px;
        }
      }
    }

    @include min(1200) {
      .feedback__field {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  &--emotions {
    @include min(768) {
      width: 100%;
      order: 4;

      .feedback__legend {
        margin-bottom: 36px;
      }
    }
  }
}
