.hotel-search__title {
  margin-top: 0;
  margin-bottom: 24px;

  @include text-parametr(21px, 26px, 700);

  @include min(768) {
    @include text-parametr(30px, 26px, 700);
  }
}

.hotel-search__text {
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0 20px;

  @include text-parametr(14px, 26px, 400);

  @include min(768) {
    max-width: 458px;
    margin: 0 auto 37px;
    padding: 0;
  }

  @include min(1200) {
    margin: 0 auto 42px;
  }
}

.hotel-search__map {
  position: relative;
  height: 350px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.hotel-search__map-icon {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -13px;
  z-index: 1;
  display: block;
  width: 27px;
  height: 27px;
  background-color: $lightblue;
  border: 5px solid white;
  border-radius: 50%;
}

.hotel-search__content {
  padding-top: 33px;
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;

  @include min(768) {
    padding-top: 58px;
    padding-bottom: 58px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include min(1200) {
    padding-bottom: 66px;
  }
}
