.main-nav {
  min-height: 56px;
  outline: 2px solid green;
}

.main-nav__list {
  display: none;

  @include list-style-none;
}

.main-nav__item {
  background-color: $lightblue;
  padding: 10px 0 5px;
}

.main-nav__link {
  color: $white;

  @include text-parametr(18px, 40px, 700);
  text-decoration: none;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 23px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav__toggle-icon {
  display: block;
  width: 100%;
  height: 4px;
  background-color: $lightblue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    background-color: $lightblue;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
