.modal__body {
  padding: 0 41px;

  @include min($tablet) {
    padding: 0 46px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 27px;

  @include text-parametr(18px, 26px, 700);

  @include min($tablet) {
    margin-bottom: 24px;

    @include text-parametr(30px, 42px, 700);
  }
}

.modal__text {
  margin: 0;
  margin-bottom: 22px;

  @include text-parametr(14px, 24px, 400);

  @include min($tablet) {
    margin-bottom: 36px;
  }
}

.modal__footer {
  padding: 20px;
  background-color: $light-color;

  @include min($tablet) {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @include min($desktop) {
    padding-bottom: 41px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  transform: translateY(-50%);
  margin: auto;
  width: 100%;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @include min($tablet) {
    padding-top: 50px;
  }

  &--show {
    display: block;
  }

  &--success {
    max-width: 640px;
    padding: 40px 0 0;

    .modal__text {
      margin-bottom: 40px;
    }

    .modal__button {
      min-width: 280px;
      padding-bottom: 17px;

      @include text-parametr(18px, 26px, 700);
    }

    @include min($tablet) {
      .modal__text {
        margin-bottom: 42px;
        padding: 0 58px;
      }

      .modal__title {
        margin-bottom: 22px;
      }

      .modal__button {
        padding: 17px 122px 18px;
        min-width: 458px;

        @include text-parametr(21px, 26px, 700);
      }
    }

    @include min($desktop) {
      .modal__text {
        margin-bottom: 44px;
      }

      .modal__title {
        margin-bottom: 26px;
      }
    }
  }

  &--fail {
    max-width: 400px;
    padding: 40px 0 35px;

    .modal__button {
      min-width: 180px;
    }

    @include min($tablet) {
      padding-bottom: 49px;

      .modal__button {
        padding: 17px 122px 18px;
      }
    }
  }
}
