.pade-header {
  position: relative;
  height: 84px;
  outline: 2px solid blue;
}

.pade-header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
