.pade-header {
  position: relative;
  padding-bottom: 56px;

  @include min($tablet) {
    padding: 16px 0 16px;
  }
}

.pade-header__logo {
  display: block;
  position: absolute;
  top: calc(100% - 56px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  img {
    width: 102px;
    height: 84px;
  }

  @include min($tablet) {
    top: 0;
  }

  @include min($desktop) {
    img {
      width: 187px;
      height: 97px;
    }
  }
}
