.page-footer {
  padding: 38px 20px 23px;

  @include min(768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px 23px;
  }

  @include min(1200) {
    padding: 33px 120px 33px;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__hashtag {
  @include text-parametr(21px, 26px, 700);
  margin: 0 0 31px;

  @include min(768) {
    margin: 0;
  }
}

.page-footer__developing {
  margin-top: 30px;

  @include min(768) {
    margin: 0;
  }
}
