.page-footer {
  padding: 38px 0 23px;

  @include miw(768) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__hashtag {
  @include text-parametr(21px, 26px, 700);
  margin: 0 0 33px;

  @include miw(768) {
    margin: 0;
  }
}

.page-footer__developing {
  margin-top: 40px;

  @include miw(768) {
    margin: 0;
  }
}
