.page-article__title {
  margin-top: 0;
  margin-bottom: 32px;

  @include text-parametr(18px, 26px, 700);

  @include min(768) {
    max-width: 483px;
    margin-left: auto;
    margin-right: auto;

    @include text-parametr(21px, 26px, 700);
  }
}

.page-article__text {
  margin: 0;
}

.page-article {
  text-align: center;
  padding: 32px 10px 15px;

  @include min(768) {
    padding: 43px 60px 55px;
  }

  @include min(1200) {
    padding: 55px 60px 43px;
  }

  &--inner {
    padding: 35px 10px 17px;

    .page-article__title {
      margin-bottom: 29px;
    }

    @include min(768) {
      width: 100%;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
      padding: 64px 60px 63px;

      .page-article__title {
        @include text-parametr(30px, 26px, 700);
      }
    }

    @include min(1200) {
      padding: 114px 60px 59px;

      .page-article__title {
        margin-bottom: 32px;
      }
    }
  }
}
