.page-footer {
  padding: 38px 20px 18px;

  @include min($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 60px 33px;
  }

  @include min($desktop) {
    padding: 33px 120px 33px;
  }
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__hashtag {
  @include text-parametr(21px, 25px, 700);
  margin: 0 0 31px;

  @include min($tablet) {
    margin: 0;
  }
}

.page-footer__developing {
  margin-top: 34px;

  @include min($tablet) {
    margin: 0;
  }
}
