.page-body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $font;

  @include text-parametr();
  text-transform: uppercase;
  text-align: center;
  color: $font-color;
  background-color: $light;
}
