.page-container {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: baseline;
  background-color: white;

  @include min($tablet) {
    margin: 0 auto;
  }

  @include min($desktop) {
    max-width: 1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
