.player {
  position: relative;
  width: 100%;
  padding-bottom: 67px;

  @include min($tablet) {
    padding-bottom: 0;
    height: 500px;
  }
}

.player__controls {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 111px;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: $light-color;
    z-index: -1;
  }

  @include min($tablet) {
    left: 0;
    right: 0;
    bottom: 0;
    height: 93px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 36px;
    padding-right: 40px;

    &::before {
      display: none;
    }
  }

  @include min($desktop) {
    padding-left: 34px;
    padding-right: 43px;
  }
}

.player__progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  order: 0;

  @include min($tablet) {
    order: 1;
    margin-right: 42px;
  }
}

.player__progress-bar {
  height: 3px;
  width: 100%;
  background-color: $white-color;
  opacity: 0.2;
}

.player__progress-toddler {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: $white-color;
  border-radius: 50%;

  @include min($tablet) {
    left: 111px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.player__button {
  background: transparent;
  border: 0;
  color: $video-button;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  &--replay {
    flex-grow: 2;
    order: 1;

    @include min($tablet) {
      order: 0;
      margin-right: 42px;
    }
  }

  &--subtitles {
    margin-left: auto;
    margin-right: 31px;
    order: 2;
  }

  &--fullscreen {
    margin-left: auto;
    order: 3;
  }

  &:hover {
    color: $dark-color;
  }

  @include min($tablet) {
    color: $white-color;

    &:hover {
      color: $white-color;
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.player__presentation {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
