.radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: left;
  cursor: pointer;
}

.radio-button__label {
  position: relative;
  padding-left: 78px;

  @include text-parametr(18px, 26px, 700);
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $light;
  }

  &:hover {
    &::before {
      background-color: $gray;
    }
  }
}

.radio-button__input {
  &:checked + span {
    &::after {
      content: "";
      position: absolute;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $dark;
    }
  }
}
