.recommendation {
  padding: 35px 0;

  @include list-style-none;
  background-color: white;
  color: $font-color;
  text-align: left;
  outline: 2px solid blue;
}

.recommendation__title {
  margin-top: 0;
  margin-bottom: 16px;

  @include text-parametr(18px, 26px, 700);
}

.recommendation__text {
  margin-top: 0;
  margin-bottom: 0;
}

.recommendation__item {
  &:not(:last-child) {
    margin-bottom: 26px;
  }
}
