.social {
  display: flex;
  justify-content: center;

  @include list-style-none;
}

.social__item {
  padding: 0 3px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: $lightblue;

  &:hover {
    background-color: $blue;
  }
}
