$dark: #333333;
$light: #f2f2f2;
$darkgray: #eaeaea;
$lightblue: #81b3d2;
$blue: #669ec0;
$blue-2: #5496bd;
$gray: #e5e5e5;
$gray-2: #d6d6d6;
$lightgray: #eeeeee;
$font: "PT Sans", "Arial", sans-serif;
$black: black;
$white: white;
$brown: #766357;
$darkbrown: #604e43;
$video-button: #5c6870;
$font-color: $black;
