$dark: #333333;
$light: #f2f2f2;
$lightblue: #81b3d2;
$gray: #e5e5e5;
$lightgray: #eeeeee;
$font: "PT Sans", "Arial", sans-serif;
$black: black;
$white: white;
$video-button: #5c6870;
$font-color: $black;
